<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>dark-engine</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            html, body {
                overflow: hidden;
                cursor: none;
                font-family: 'Helvetica', serif;
            }
            body {
                background-color: #666666;
                margin: 0;
                padding: 0;
                font-smooth: never;
                -webkit-font-smoothing : none;
            }</style>
    </head>
    <body>
    </body>
</html>
